#header{
  text-align: center;
  font-size: 15rem;
  font-family: Quicksand;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

.bm-menu-wrap {
  width: 970px;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

.menu-item {
  text-align: center;
}
/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 3.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

#profile-picture {
  border-radius: 50%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

.menu-item{
  font-size: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

.btn, [type=submit], button {
  width: 50%;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99CF00), to(#6DB700));
  background: -moz-linear-gradient(19% 75% 90deg,#6DB700, #99CF00);
  border-left: solid 1px #c3f83a;
  border-top: solid 1px #c3f83a;
  border-right: solid 1px #82a528;
  border-bottom: solid 1px #58701b;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99CF00), to(#6DB700))
}
